body {
  box-sizing: border-box;
  font-family: PT serif;
  margin: 0 auto;
  background-color: #9370db;
  /* opacity: 0.93; */
}
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: PT serif;
}
.container {
  background-color: #9370db;
  width: 100%;
  margin: 0 auto;
  /* opacity: 0.9; */
  position: relative;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 10px;
  background-color: white;
  box-shadow: 2px 2px 20px black;
  margin: 20px;
  overflow: auto;
}
.logo {
  display: inline-flex;
  gap: 10px;
  flex: 0 1 25vw;
  align-items: center;
  margin-left: 1%;
}
.logo img {
  margin-top: 7px;
}
.logo h2 {
  font-size: 25px;
}

.description {
  background-color: white;
  padding-left: 14%;
}
.description .search {
  display: inline-flex;
  flex: 0 1 40vw;
  padding: 5px;
  gap: -5px;
  align-items: center;
  padding: 3px;
}
.search button {
  color: #9370db;
  padding: 6.1px;
  border: 2px solid #9370db;
  border-top-left-radius: 38px;
  border-bottom-left-radius: 38px;
  font-size: 22px;
  border-right: none;
  background-color: white;
}
.butt {
  padding: 100px;
}
.butt svg {
  padding-top: 5px;
}
.search form input {
  background-color: white;
  border: 2px solid #9370db;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  font-size: 22px;
  padding: 10px;
  padding-bottom: 9px;
  border-left: none;
  color: black;
}
.search form input:focus {
  outline: none;
}

/* .description p{
    font-size: 20px;
    letter-spacing: .5px;
} */
/* .description p::after{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 8px;
    margin-bottom: 3px;
    border-left: 2px solid transparent;
    border-top: 2px solid transparent;
    border-right: 1.3px solid black;
    border-bottom: 1.3px solid black;
    transform: rotate(45deg); 
} */
.buttons {
  display: flex;
  flex: 0 0 26vw;
  gap: 8px;
  align-items: center;
}

.buttons .cart {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  padding-top: 8px;
  margin-left: 6%;
}
.buttons .log {
  font-size: 18px;
  padding: 10px;
  border: 0.5px solid #ff4500;
  border-radius: 3px;
  background-color: #9370db;
  margin-left: 2%;
  color: white;
  align-self: center;
  transition: transform 0.3s ease;
}
.buttons .log:hover {
  transform: scale(0.9);
}
.buttons .sign {
  font-size: 18px;
  padding: 10px;
  border: 1px solid #9370db;
  border-radius: 3px;
  background-color: orange;
  color: black;
  font-weight: 500;
  opacity: 1;
  align-self: center;
  transition: transform 0.3s ease;
}
.buttons .sign:hover {
  transform: scale(0.9);
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  margin-bottom: 15px;
}
.link1 li {
  display: inline-block;
  gap: 30px;
  color: white;
}
.link1 li a:link {
  text-decoration: none;
  text-transform: uppercase;
}
.link1 a {
  color: white;
  letter-spacing: 4px;
}
.link1 .website a {
  color: black;
}
.center {
  text-align: center;
  line-height: 1.1;
  padding: 0 15%;
}
.center h2 {
  font-size: 50px;
  font-weight: bold;
}
.center p {
  font-size: 30px;
  margin: 20px;
  color: white;
  font-weight: 100px;
  letter-spacing: 1px;
  /* word-spacing: 1.5; */
}
section .create {
  font-size: 22px;
  padding: 12px;
  border: 0.5px solid black;
  border-radius: 5px;
  background-color: orange;
  color: white;
  font-weight: 700;
  letter-spacing: 1.1px;
}
section .create:hover {
  opacity: 0.8;
}

/* .relative {
  position: absolute;
  top: 100%;
  right: 3%;
} */
.title {
  margin: 19px;
  margin-bottom: 6px;
  padding-top: 10px;
}
.title h2 {
  font-size: 33px;
  color: black;
}
.middle {
  background-color: #fffaf0;
  /* margin:20px; */
  width: 97%;
  margin: 0 auto;
  /* margin: 22px; */
  border: 1px solid silver;
  border-radius: 10px;
  margin-top: 15px;
}
.html {
  background-color: white;
}

.categories {
  margin: 12px;
  margin-bottom: 1px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  margin-left: 5px;
  margin-bottom: 20px;
}
.categories ul {
  border-bottom: 1px solid #c0c0c0;
  padding-bottom: 8px;
}
.categories ul li {
  display: inline-block;
  margin: 10px;
  margin-top: 5px;
  margin-bottom: 1px;
}
.categories ul li a {
  color: #708090;
  padding-bottom: 9px;
  text-decoration: none;
}
.categories ul li a:link {
  color: #708090;
  font-size: 20px;
  text-decoration: none;
}
.categories ul li a:visited {
  border-bottom: 2px solid black;
  text-decoration: none;
}
.categories ul li a:hover {
  color: black;
  border-bottom: 2px solid black;
  text-decoration: none;
}
.categories ul li a:active {
  border-bottom: 2px solid black;
  text-decoration: none;
}

.section {
  width: 96%;
  margin: 0 auto;
  overflow: auto;
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding-bottom: 10px;
}

.html a img {
  width: 284px;
  height: 160px;
}
.html {
  transition: transform 0.3s ease;
}
.html:hover {
  transform: scale(0.95);
}

.html .dis {
  margin: 10px;
}
.html .dis li {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
}
.html .dis li {
  margin: 3px;
}
.html .dis li h2 {
  font-size: 20px;
}
.rating {
  display: flex;
  align-items: center;
  gap: 3px;
}
.rate {
  display: flex;
  align-items: center;
  gap: 3px;
}
.rate .dash {
  text-decoration: line-through;
  text-decoration-style: solid;
}
.html .dis li .point {
  font-size: 16px;
  border: 1px solid grey;
  padding: 4px;
  background-color: #f0e68c;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}
.html .dis li p {
  font-size: 20px;
  margin-top: 8px;
}
.html .dis li ul li p {
  padding-bottom: 8px;
}
.html .dis li ul li h3 {
  font-size: 20px;
}
.dash {
  color: #808080;
}
.html {
  border: 1.4px solid #708090;
  border-radius: 22px;
}
.html a img {
  border-top: 0.2px solid #778899;
  border-radius: 20px;
  border-bottom: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.more {
  margin-left: 25px;
  margin-top: 10px;
  padding-bottom: 20px;
}
.more button {
  padding: 10px;
  font-size: 20px;
  outline: none;
  border: none;
  border: 1.5px solid #a9a9a9;
  background-color: white;
  letter-spacing: 0.5px;
  font-weight: 600;
}
.company {
  background-color: white;
  width: 97%;
  margin: 20px auto;
}
.com {
  padding: 20px;
  text-align: center;
}
.company .log {
  display: flex;
  justify-content: center;
}

.company .logos li {
  display: inline-block;
  margin: 0 38px;
}
.company .com h3 {
  font-size: 26px;
  padding-bottom: 20px;
  color: #708090;
}
.company .logos img {
  height: 90px;
  width: 110px;
  background-color: white;
}
.company {
  /* background-color: #708090; */
  border: 1.5px solid #f0e68c;
  border-radius: 15px;
}

.add {
  background-color: white;
  width: 97%;
  margin: 5px auto;
  border: 1px solid silver;
  border-radius: 15px;
  margin-top: 20px;
}
.box img {
  width: 121px;
  height: 120px;
  background-color: white;
}
hr {
  border: 1px solid silver;
  width: 92%;
  margin-left: 44px;
}

.top h2 {
  font-size: 40px;
  padding: 16px;
  text-align: center;
}
.final {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  overflow: auto;
}
.final .box {
  display: flex;
  gap: 20px;
  background-color: #fffaf0;
  border: 1.5px solid #fffaf0;
  border-left: 8px solid #fffaf0;
  border-radius: 10px;
}
.final .box:hover {
  border: 1.5px solid #9370db;
  border-left: 8px solid #9370db;
  border-radius: 10px;
}
.box .side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.side h3 {
  font-size: 26px;
}
.side p {
  font-size: 18px;
}
.side h2 {
  font-size: 20px;
  font-weight: bold;
  color: #808080;
  letter-spacing: 0.8px;
}
.final .box:hover h2 {
  color: #9370db;
  cursor: pointer;
}
.side h3 span {
  font-size: 17px;
  font-weight: bold;
  color: #9370db;
  background-color: white;
  margin-left: 20px;
  border: 1.3px solid #9370db;
  border-radius: 6px;
  padding: 4px;
  cursor: pointer;
}

.package {
  background-color: #f5f5f5;
  width: 97%;
  margin: 10px auto;
  border: 1px solid #fffaf0;
  border-radius: 18px;
  overflow: auto;
}
.pack-head {
  padding: 10px;
  padding-left: 25px;
}
.pack-head h2 {
  font-size: 36px;
  font-weight: bold;
  padding: 5px;
}
.pack-head p {
  font-size: 20px;
  color: #808080;
  padding: 5px;
}
.subscriptions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
  gap: 20px;
}
li {
  list-style: none;
}
.box1 {
  padding-top: 0px;
  background-color: white;
  border: 1px solid silver;
  border-top: 10px solid #0000ff;
  border-radius: 14px;
}

.box1 .first {
  padding: 5px;
  padding-left: 15px;
  background-color: #f8f8ff;
  padding-top: 15px;
}
.box1 .first li:first-child {
  font-size: 26px;
  font-weight: bold;
}
.box1 .first li:last-child {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 3px 0px;
}
.box1 .second {
  padding: 5px 16px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.box1 .second h3 {
  font-size: 18px;
  font-family: PT serif;
}
.box1 .second p {
  font-size: 14px;
}
.box1 .second button {
  font-size: 18px;
  font-weight: 600;
  font-family: Georgia, serif;
  padding: 4px;
  margin: 8px;
  margin-left: 0px;
  margin-top: 15px;
  width: 90%;
  border: 1px solid #778899;
  color: white;
  background-color: black;
  letter-spacing: 0.3px;
}
.box1 .second button:hover {
  opacity: 0.8;
}
.box1 .third {
  padding-left: 16px;
  padding-bottom: 13px;
}
.box1 .third ul li {
  margin: 8px 0px;
  position: relative;
  margin-left: 30px;
  font-size: 17px;
}
.box1 .third ul li:before {
  content: "\2713";
  position: absolute;
  left: -30px;
  width: 9px;
  height: 9px;
  padding: 4px;
  border: 1.5px solid green;
  border-radius: 50%;
  background-color: white;
  color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  /* font-weight: bold; */
}
.last {
  width: 98.4%;
  background-color: #2d2f31;
  padding-left: 20px;
  padding-bottom: 30px;
  margin: 0 auto;
  margin-top: -28px;
  position: relative;
}
.topic {
  display: flex;
  align-items: center;
  gap: 150px;
  padding-top: 20px;
  margin-left: 20px;
}
.topic h1 {
  font-size: 28px;
  font-weight: bold;
  flex: 0 1 650px;
  color: white;
}

.topic .lan {
  margin-left: 150px;
  padding: 5px 12px;
}
.topic span {
  font-size: 20px;
  color: white;
  margin-left: -5px;
}
.links {
  display: flex;
  gap: 150px;
  margin-top: 50px;
  margin-left: 20px;
}
.links .line ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.links .line ul li {
  font-size: 18px;
  color: white;
}
.links .line ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.lan {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid silver;
}
.last1 {
  padding-left: 20px;
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.last1 .logo3 {
  display: flex;
  align-items: center;
  gap: 15px;
}
.last1 .logo3 h2 {
  font-size: 26px;
  color: white;
}
.last1 p {
  color: white;
  font-size: 18px;
  margin-left: 800px;
}
.hor {
  width: 101%;
  margin-left: -14px;
  margin-top: 20px;
}
